<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TurnkeyMailChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TurnkeyMailChecker.Properties.Settings>
      <setting name="mailServer" serializeAs="String">
        <value>mail.example.com</value>
      </setting>
      <setting name="mailUser" serializeAs="String">
        <value>exampleUser</value>
      </setting>
      <setting name="mailUserPwd" serializeAs="String">
        <value>examplePassword</value>
      </setting>
      <setting name="misMails" serializeAs="String">
        <value>MIS1,mis1@example.com;MIS2,mis1@example.com</value>
      </setting>
      <setting name="companyName" serializeAs="String">
        <value>Example股份有限公司</value>
      </setting>
      <setting name="turnkeyMail" serializeAs="String">
        <value>peinvmgr@einvoice.nat.gov.tw</value>
      </setting>
      <setting name="inboxDir" serializeAs="String">
        <value>inbox</value>
      </setting>
    </TurnkeyMailChecker.Properties.Settings>
  </applicationSettings>
</configuration>